<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>管理员admin登录</title>
<!-- Custom Theme files -->
<link href="app/admin/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>管理员入口</h2>
	<div class="login-top">
		<h1>登录</h1>
		<form>
			<div class="form-group has-feedback">
				<input id="loginName" name="loginName" type="text"
					   placeholder="账号" autocomplete="off" required="required"
					   class="form-control" data-parsley-required-message="请输入账号！"/>
			</div>
			<div class="form-group has-feedback">
				<input id="loginPwd" name="loginPwd" type="password"
					   placeholder="密码" required="required" class="form-control"
					   data-parsley-required-message="请输入密码！"/>
			</div>
	    </form>
	    <div class="forgot">
	    	<a href="#">忘记密码</a>
	    	<input type="submit" value="Login" >
	    </div>
	</div>
</div>


<th:block th:replace="common/footer.html"/>


</body>
</html>